[data-text="split"] .char{overflow: hidden;}
body{ 
    overflow-x: hidden;
    transition: .5s;
    color: #fff;
    background: #000; 
}
body.white{ 
    background: #fff; 
    color: #000;
    transition: .5s; 
}
#lottie-container{
    position: fixed;
    top: 0;left: 0;bottom: 0;right: 0;
    width: 100vw;
    height: 100vh;
    background: #000;
    z-index: 1000;
}
.main-wrapper{ position: relative; }
.main-inner{ height: 450vh; }
.horizontal-inner{
    position: sticky;
    top: 0;
    height: 100vh;
}
.scroll-content{
    display: flex;
    width: max-content;
    gap: calc(100vw / 24 * 4);
    height: 100vh;
}
.video-container{
    position: fixed;
    top: 0;left: 0;bottom: 0;right: 0;
    width: 100vw;
    height: 100vh;
}
.video-container .video-content{
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 1;
}
.video-content video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video-container .first_img,
.video-container .second_img,
.video-container .third_img
{
    position: absolute;
    top: 0;left: 0;bottom: 0;right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video-overlay{
    position: absolute;
    top: 0;left: 0;right: 0;bottom: 0;
    background: #000;
    opacity: 0.7;
}

/* hero section */
.sec-hero{
    position: relative;
    width: 100vw;
    height: 100vh;
}
.hero-laser-block{
    width: 100vw;
    height: 100vh;
    color: #fff;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 200px;
}

/* breek section */
.sec-breek{
    position: relative;
    width: 250vw;
    height: 100vh;
}
.breek-inner{
    width: 100vw;
    height: 100vh;
    padding: 0 20px;
    color: #fff;
}
.breek-inner .breek-sticky-block{
    display: flex;
    justify-content: space-between;
    width: 100%;
    opacity: 1;
    padding-top: 50px;
}
.breek-inner .breek-sticky-block h2{
    padding-top: 50px;
    font-size: 3.5vw;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 300;
    opacity: 1;
    max-width: 800px;
    font-family: 'PolySans-Slim',sans-serif;
}
.breek-inner .breek-sticky-block p{
    font-size: 1vw;
    line-height: 1.2;
    opacity: 1;
    padding-top: 50px;
    max-width: 400px;
}
.breek-bot-block{
    position: absolute;
    bottom: 0;left: 0;
    width: 100%;
    font-size: 37vh;
    text-transform: uppercase;
    line-height: 1;
    white-space: nowrap;
    padding-bottom: 20px;
}
.breek-bot-block h2{ width: max-content; }

.breek-bot-tx-marquee{
    display: none;
}





/* waar section */
.sec-waar{
    position: relative;
    width: 100vw;
    height: 100vh;
    color: #fff;
}
.waar-inner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 0 20px;
}
.waar-sticky-block{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    margin-top: 100px;
}
.waar-sticky-block h2{
    font-size: 5vw;
    letter-spacing: -.05em;
    line-height: .9;
    text-transform: uppercase;
}
.waar-sticky-block p{
    font-size: 1vw;
    line-height: 1.2;
}
.waar-bot-block{ display: flex; padding-bottom: 100px; }
.waar-bot-block .waar-bot-list{ display: flex; gap: 20px; }
.waar-bot-block .waar-bot-item{
    display: flex;
    align-items: flex-end;
    gap: 10px;
    text-transform: uppercase;
}
.waar-bot-block .waar-bot-item .waar-tx-big{
    font-size: 15vw;
    line-height: .6;
}
.waar-bot-block .waar-bot-item .waar-tx-small{ max-width: 400px; }
.waar-bot-block .waar-bot-item .waar-tx-small h3{
    font-size: 3vw;
    line-height: 1;
}
.waar-bot-block .waar-bot-item .waar-tx-small p{
    font-size: 1vw;
    line-height: 1.2;
}

/* card css */
.sec-card{
    position: relative;
    width: 100vw;
    height: 100vh;
}
.frame{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;  
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(6,1fr);
}
.item{
    width: 100%;
    height: 100%;
    background: #fff;
}
.sec-card .box{
    width: 100%;
    height: 100%;
    background: #000;
    transform-origin: left;
    transform: scale(1);
    border: 1px solid #000; 
}

/* space css */
.sec-space{
    position: relative;
    width: 100vw;
    height: 100vh;
    color: #000;
}
.sec-space .space-inner{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100vw;
    height: 100vh;
    padding: 0 50px;
}
.main-tx{
    font-size: 4vw;
    letter-spacing: -.05em;
    line-height: .9;
    text-transform: uppercase;
    padding-bottom: 500px;
    max-width: 700px;
}
.sub-tx{ 
    font-size: 1.3vw; 
    padding-bottom: 100px; 
    line-height: 1.2; 
    max-width: 500px;
}

/* sec hero02 */
.vertical-inner{
    position: relative;
    width: 100vw;
    height: 900vh;
}
.vertical-sticky-block{
    position: sticky;
    top: 0;left: 0;
    width: 100vw;
    height: 100vh;
}
.sec-hero02{
    display: flex;
    height: 100vh;
    transition: .3s;
}
.hero02-inner{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100vw;
    height: 100vh;
}
.hero02-service-list{
    position: absolute;
    top: 40%; left: 50px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    font-size: 18px;
}
.hero02-service-item{
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    opacity: 1;
}
.arrow-ic-block {
    /* 아래화살표 */
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;left: 0;
    width: .875rem;
    height: 100%;
    opacity: 0;
}
.arrow-ic-block02{
    /* 위화살표 */
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;left: 0;
    width: .875rem;
    transform: rotate(-180deg);
    height: 100%;
}
.hero02-service-item .hero02-service-tx{ padding-left: 25px; }

.hero02-bignum-block{
    position: absolute;
    left: 30px;
    bottom: 20%;
    font-size: 15vw;
    line-height: .6;
    letter-spacing: -.05em;
}
.white-block{
    position: absolute;
    bottom: -187px;
    height: 340px;
    width: 100%;
    background: #fff;
}
.hero02-bignum-list{
    position: absolute;
    top: -12rem;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    font-family: 'Trash-Medium',sans-serif;
    overflow: hidden;
    z-index: -10;
}
.hero02-bignum-item{ opacity: 1; padding: 30px 0; }
.hero02-circle-block{
    position: relative;
    width: 100vw;
    height: 100vh;
}
.hero02-circle-inner{
    position: relative;
    width: 100%;
    height: 100%;
}
.hero02-circle{
    position: absolute;
    top: 50%; right: 20%;
    transform: translate(-20%, -50%);
    width: 400px;
    height: 400px;
    border-radius: 100%;
    background: #000;
}
.circle-tx-block{
    position: absolute;
    top: 50%; right: 20%;
    transform: translate(-20%, -50%);
    width: 400px;
    height: 400px;
    border-radius: 100%;
    color: #fff;
}
.circle-tx-list{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.circle-tx-item{
    position: relative;
    width: 100%;
    height: auto;
}
.circle-top-cur-tx-block{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle-top-cur-tx{
    position: absolute;
    top: -12px;left: 0;
    display: flex;
    flex-direction: column;
}
.circle-top-tx{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 12px;
    letter-spacing: .05px;
    overflow: hidden;
}
.circle-bot-tx-list{
    position: absolute;
    top: 30px;left: 0px;
    width: 100%;
    height: 25px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.circle-bot-tx{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 1.5vw;
    line-height: 1;
    text-transform: uppercase;
    overflow: hidden;
}
.circle-line{
    position: absolute;
    top: -50px;left: -50px;
    width: 500px;
    height: 500px;
    border-radius: 100%;
}
.circle-line svg{ transform: rotate(-180deg); }
.hero02-point-list{
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 100%;
    top: 0;left: 0;right: 0;bottom: 0;
}
.point{
    width: 10px;
    height: 10px;
    background: #000;
    border-radius: 100%;
}
.hero02-point-item{
    position: absolute;
    top: 0;bottom: 0;right: 0;left: 0;
    padding: 22px;
}

/*  */
.horizontal-container{
    position: relative;
    height: 600vh;
    color: #fff;
}
.horizontal02-inner{
    display: flex;
    position: sticky;
    top: 0;
    height: 100vh;
}
.blank-block{ width: 100vw; height: 100vh; }
.scroll-content02{
    display: flex;
    width: max-content;
    column-gap: calc(100vw / 24 * 4);
    height: 100vh;
}
.sec-space02{ width: 200vw; height: 100vh;  }
.space02-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 0 20px;
}
.space02-mid-bar{
    width: 1px;
    height: 70vh;
    background: #fff;
}
.space02-left-block,
.space02-right-block
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 50%;
    height: 100vh;
    opacity: 1;
}

.space02-right-block{ padding-left: 20px; }
.space02-left-title-block{
    display: flex;
    align-items: flex-end;
    column-gap: 20px;
}
.space02-left-title-block .big-num{ overflow: hidden; }
.space02-left-title-block .sub-tx{
    max-width: 500px;
    margin-bottom: 10px;
    font-size: 18px;
}
.space02-left-list-block{ position: relative; }
.space02-left-list-block .space02-left-list{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 3vw;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 300;
}
.space02-left-list-block .space02-left-item{
    position: relative;
    display: flex;
    gap: 20px;
    align-items: center;
}
.space02-left-list-block .space02-left-item .arrow-ic{
    width: 2.8vh;
    height: auto;
}
.space02-left-list-block .space02-left-item .space02-left-list-tx{
    position: relative;
}
.space02-left-list-block .space02-left-item .tx-bar{
    position: absolute;
    left: 0;
    bottom: 10px;
    height: 1px;
    width: 0;
    background: #fff;
}
.space02-arrow-block{
    position: relative;
    overflow: hidden;
}
.space02-arrow-block .arrow-ic:last-child{
    position: absolute;
    top: 0;
    height: auto;
    transform: rotate(180deg);
}
.space02-hidden-block{
    position: absolute;
    bottom: 0;left: 0;
    z-index: -1;
}
.space02-hidden-item{
    position: absolute;
    width: 1000px;
    left: 0;
    bottom: 10px;
    opacity: 0;
}
.space02-hidden-item p{ font-size: 1vw; }
.space02-right-block{ width: 50%; }

/* studio css */
.sec-studio{ width: 200vw; height: 100vh; }
.sec-studio .studio-inner{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    padding: 60px;
}
.sec-studio .studio-bigtx{
    font-size: 4vw;
    letter-spacing: -.05em;
    line-height: .9;
    font-family: 'Trash-Medium',sans-serif;
    text-transform: uppercase;
    margin-top: 20px;
}
.studio-smalltx{
    font-size: 3vw;
    line-height: 1;
    text-transform: uppercase;
    margin-top: auto;
    margin-bottom: 20px;
}
.sec-studio01{ width: 100vw; height: 100vh; }
.studio-inner01{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: flex-end;    
    padding: 60px;
}
.sec-studio01 .studio-bigtx{
    font-size: 4vw;
    letter-spacing: -.05em;
    line-height: .9;
    font-family: 'Trash-Medium',sans-serif;
    text-transform: uppercase;
}



@media (max-width:1400px) {
    .breek-inner .breek-sticky-block h2{ font-size: 4.1vh; }
    .breek-inner .breek-sticky-block p{ font-size: 1rem; }
    
    .waar-sticky-block h2{ font-size: 5.5vh; }
    .waar-sticky-block p{ font-size: 0.9rem; }
    .waar-bot-block .waar-bot-item .waar-tx-big{ font-size: 15vh; }
    .waar-bot-block .waar-bot-item .waar-tx-small{ width: 40vh; }
    .waar-bot-block .waar-bot-item .waar-tx-small h3{ font-size: 3vh; }
    .waar-bot-block .waar-bot-item .waar-tx-small p{ font-size: 1.125rem; }

    .main-tx{
        font-size: 5.5vh;
        letter-spacing: -.05em;
        line-height: .9;
        text-transform: uppercase;
    }
    /* space02 */
    .sec-space02{ width: 200vw; height: 100vh; }
    .space02-inner{ 
        display: flex;
        top: 0;
    }
    .space02-left-title-block{
        display: flex;
        align-items: flex-start;
        column-gap: 2rem;
    }
    .space02-mid-bar{ display:none; }
    .space02-left-block,
    .space02-right-block
    {
        display: flex;
        flex-direction: column;
        gap: 0px;
        width: 100%;
        height: 50vh;
        opacity: 1;
    }
    .space02-right-block{ padding-left: 0px; }
    .space02-left-title-block .sub-tx{
        max-width: 100%;
        margin-bottom: 4rem;
        font-size: 1.125rem;
    }
    .space02-left-list-block .space02-left-list{ font-size: 1.75vh; }
    .space02-left-title-block .big-num{ font-size: 10rem; }
}

@media (min-width:769px) and (max-width:1399px) {
   
    .breek-inner .breek-sticky-block{
        flex-direction: column;
        padding-top: 50px;
    }
    .breek-inner .breek-sticky-block h2{ font-size: 3.4vw; }
    .breek-inner .breek-sticky-block p{ font-size: 1.5vw; }

    .waar-bot-block{ display: flex; padding-bottom: 8.875rem; }
    .waar-bot-block .waar-bot-list{ display: flex; flex-direction: column; gap: 4rem; }


    /* hero02 */
    .hero02-circle{
        top: 10%; left: 50%;
        transform: translate(-50%, -10%) scale(0.8);  
    }
    .circle-tx-block{
        top: 10%; left: 50%;
        transform: translate(-50%, -10%) scale(0.8); 
    }
    
    .hero02-service-list{
        position: absolute;
        top: 60%; left: 50%;
        transform: translate(-50%, -60%);
        margin-left: 100px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,auto);
        flex-direction: column;
        line-height: 1.2;
        font-size: 16px;
    }
    .hero02-bignum-block{
        position: absolute;
        left:25%;
        bottom: 10%;
        font-size: 30vh;
        line-height: .6;
        height: 40px;
        letter-spacing: -.05em;
    }
    .hero02-service-item{
        position: relative;
        display: flex;
        gap: 10px;
        margin-top: 10px;
    }
    .hero02-service-item .hero02-service-tx{ 
        font-size: 20px; 
    }
    .space02-left-title-block .big-num{ 
        overflow: inherit;
        font-size: 10vw; 
    }

    .sec-space .space-inner{
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0 50px;
    }
    .main-tx{
        font-size: 4vw;
        padding-bottom: 0px;
    }
    .sub-tx{ 
        font-size: 1.3vw; 
        padding-bottom: 0px; 
        line-height: 1.2; 
    }
}

/* mobile */
@media (max-width:768px) {
    .horizontal-inner{
        position: relative;
    }
    .horizontal-container{ height: 350vh; }
    .scroll-content{
        display: flex;
        width: max-content;
        flex-direction: column;
        gap: 0;
        height: 100vh;
    }

    /* hero section */
    .hero-laser-block{ padding: 0 20px; }

    /* breek */
    .breek-inner{ padding: 0 10px; }
    .breek-bot-block{ 
        font-size: 10vh; 
        padding-bottom: 10px;
    }
    .breek-inner .breek-sticky-block{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        padding-top: 4rem;
    }
    .breek-inner .breek-sticky-block h2{ font-size: 5vw; }
    .breek-inner .breek-sticky-block p{ font-size: 3vw; }
    .breek-bot-block{
        width: 100%;
        font-size: 20vw;
        padding-bottom: 0px;
    }
    .breek-bot-block .breek-bot-tx{ display: none; }
    .breek-bot-tx-marquee{ 
        display: block;
        overflow: hidden;
    }
    .breek-bot-tx-marquee .marquee-inner{ display: flex; }
    .breek-bot-tx-marquee .marquee-inner .marquee-list{
        display: flex;
        animation: marquee 25s infinite linear;
    }
    .breek-bot-tx-marquee .marquee-inner .marquee-list .marquee-item{
        font-size: 30vw;
        text-transform: uppercase;
        line-height: 1;
        white-space: nowrap;
    }
    @keyframes marquee {
        0%{ transform: translateX(0%); }
        100%{ transform: translateX(-100%); }
    }
    /* waar */
    .waar-inner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        padding: 0 10px;
        gap: 50px;
    }
    .waar-sticky-block{
        flex-direction: column;
        padding-top: 50px;
    }
    .waar-bot-block{ 
        display: flex; 
        padding-bottom: 0px; 
    }
    .waar-bot-block .waar-bot-list{ display: flex; 
        flex-direction: column;
        gap: 50px; 
    }
    .waar-bot-block .waar-bot-item{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .waar-bot-block .waar-bot-item .waar-tx-big{
        font-size: 20vw;
    }
    .waar-bot-block .waar-bot-item .waar-tx-small{ width: 100%; }
    .waar-bot-block .waar-bot-item .waar-tx-small h3{
        font-size: 6vw;
    }
    .waar-bot-block .waar-bot-item .waar-tx-small p{
        font-size: 12px;
        margin-top: 0px;
    }
    /* card */
    .sec-card.hidden{
        visibility: hidden;
        opacity: 0;
    }
    /* hero02 */
    .hero02-circle{
        top: 10%; left: 50%;
        transform: translate(-50%, -10%) scale(0.6);  
    }
    .circle-tx-block{
        top: 10%; left: 50%;
        transform: translate(-50%, -10%) scale(0.6); 
    }
    .hero02-service-list{
        position: absolute;
        top: 60%; left: 50%;
        transform: translate(-50%, -60%);
        width: 100%;
        padding-left: 10px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,auto);
        flex-direction: column;
        line-height: 1.2;
        font-size: 1rem;
    }
    .hero02-bignum-block{
        position: absolute;
        left:0rem;
        bottom: 10%;
        font-size: 22vh;
        line-height: .6;
        letter-spacing: -.05em;
    }
    .hero02-service-item .hero02-service-tx{ font-size: 12px; }
    .circle-bot-tx{
        font-size: 5vw;
    }
    /* space css */
    .sec-space{ background: #fff; }
    .sec-space .space-inner{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding-bottom: 0px;
        width: 100vw;
        height: 100vh;
        padding: 0px 20px;
    }
    .main-tx{
        font-size: 10vw;
        padding-bottom: 0px;
    }
    .sub-tx{ 
        font-size: 4vw; 
        padding-bottom: 0px; 
        max-width: 600px;
    }

    .horizontal02-inner{
        position: relative;
    }
    .scroll-content02{
        flex-direction: column;
    }

    /* space02 mov */
    .sec-space02{ width: 100vw; height: 100vh;  }

    .space02-left-title-block .big-num{ 
        overflow: inherit;
        font-size: 20vw; 
    }
  
    .space02-inner{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: 100vh;
        padding-left: 10px;
        background: #000;
    }
    /* studio */
    .sec-studio{ position: relative; width: 100vw; height: 100vh; }
    .sec-studio01{ width: 100vw; height: 100vh; }
    .sec-studio .studio-inner{
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding: 20px;
    }
  
    .sec-studio .studio-bigtx{ 
        padding: 0px;
        font-size: 10vw;
    }
    .studio-smalltx{ 
        font-size: 10vw;
        padding-left: 0vw;
    }
    .studio-inner01{
        display: flex;
        height: 100vh;
        align-items: flex-end;    
        padding: 20px;
    }
    .sec-studio01 .studio-bigtx{
        font-size: 10vw;
    }
}

